[submodule "retronomicon-conversation"]
	path = retronomicon-conversation
	url = git@github.com:rithgroove/retronomicon-conversation.git
[submodule "retronomicon-platformer"]
	path = retronomicon-platformer
	url = git@github.com:rithgroove/retronomicon-platformer.git
[submodule "retronomicon"]
	path = retronomicon
	url = git@github.com:rithgroove/retronomicon.git
[submodule "retronomicon-card-battle"]
	path = retronomicon-card-battle
	url = git@github.com:rithgroove/retronomicon-card-battle.git
