[submodule "retronomicon-conversation"]
	path = retronomicon-conversation
	url = git@github.com:rithgroove/retronomicon-conversation.git
[submodule "retronomicon-platformer"]
	path = retronomicon-platformer
	url = git@github.com:rithgroove/retronomicon-platformer.git
[submodule "retronomicon-core"]
	path = retronomicon
	url = git@github.com:rithgroove/retronomicon-core.git
[submodule "retronomicon-card-battle"]
	path = retronomicon-card-battle
	url = git@github.com:rithgroove/retronomicon-card-battle.git
[submodule "retronomicon-sdl"]
	path = retronomicon-sdl
	url = git@github.com:rithgroove/retronomicon-sdl.git
[submodule "retronomicon-opengl"]
	path = retronomicon-opengl
	url = git@github.com:rithgroove/retronomicon-opengl.git
[submodule "retronomicon-vulkan"]
	path = retronomicon-vulkan
	url = git@github.com:rithgroove/retronomicon-vulkan.git
[submodule "retronomicon-directx"]
	path = retronomicon-directx
	url = git@github.com:rithgroove/retronomicon-directx.git
[submodule "retronomicon-audio"]
	path = retronomicon-audio
	url = git@github.com:rithgroove/retronomicon-audio.git
